@import "src/mixin.scss";
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  gap: 2rem;
  .header__img {
    flex: 1;
    height: 170px;
    width: 170px;
    border-radius: 50%;
  }
  .header__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    .header__txt__h1 {
      z-index: 99;
      font-weight: 900;
      font-size: 2.8rem;
      line-height: 1.1em;
      color: txt-color(accent);
      .header__txt__h1__span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: txt-color(dark);
        font-weight: 300;
        font-size: 1.1rem;
        text-transform: capitalize;
      }
    }
    .header__text__p {
      font-size: 1.1rem;
      line-height: 1.5em;
      color: txt-color(heading);
    }
    .header__text__a {
      text-decoration: none;
      color: #44859b;
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;

    .header__img {
      margin-bottom: 1rem;
      height: 200px;
      width: 200px;
    }
    .header__txt {
      .header__txt__h1 {
        font-size: 2.3rem;
        text-align: center;
        line-height: 1.3em;
        margin-bottom: 10px;

        .header__txt__h1__span {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .header__text__p {
        font-size: 1rem;
        line-height: 1.5em;
      }
    }
  }
}
