@import "src/mixin.scss";
.diploma {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 10px;
  margin: 50px 0;
  border-left: 2px solid #2b3031;
  .diploma__hl {
    height: 2px;
    width: 105%;
    background-color: #2b3031;
    transform: translate(-20px);
  }
  .diploma__h1 {
    font-size: 1.6rem;
    line-height: 1.5em;
    font-weight: bold;
    color: txt-color(heading);
  }
  .diploma__date {
    color: txt-color(accent);
    margin-left: 2.8rem;
    font-size: 0.9rem;
    font-weight: bold;
  }
  .diploma__p {
    margin-left: 2.8rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  .diploma {
    .diploma__h1 {
      font-size: 1.1rem;
    }
    .diploma__date {
      font-size: 0.8rem;
    }
    .diploma__p {
      font-size: 0.9rem;
    }
  }
}
