<section>
  <h3>Skills</h3>
  <div class="skills">
    <div class="skill">
      <h3 class="skill__h3">Decision making</h3>
      <div class="rating">
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__blank"></div>
      </div>
    </div>
    <div class="skill">
      <h3 class="skill__h3">Leadership experience</h3>
      <div class="rating">
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__blank"></div>
      </div>
    </div>
    <div class="skill">
      <h3 class="skill__h3">Teaching</h3>
      <div class="rating">
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__blank"></div>
      </div>
    </div>
    <div class="skill">
      <h3 class="skill__h3">Communication Skills</h3>
      <div class="rating">
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__blank"></div>
      </div>
    </div>
    <div class="skill">
      <h3 class="skill__h3">Problem Solving</h3>
      <div class="rating">
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__blank"></div>
        <div class="rating__blank"></div>
      </div>
    </div>
    <div class="skill">
      <h3 class="skill__h3">Flexibility</h3>
      <div class="rating">
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__full"></div>
        <div class="rating__blank"></div>
        <div class="rating__blank"></div>
      </div>
    </div>
  </div>
</section>
