.hidden {
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 1.5s ease-in-out;
}
.visible {
  opacity: 1;
  transform: translateX(0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 90vw;
  }
}
