<section class="socials">
  <ul class="socials__ul">
    <div class="social__ul__li">
      <a
        class="social__ul__li__a"
        href="https://www.instagram.com/fakhri.mouelhi/"
        target="_blank"
        >Instagram</a
      >
    </div>
    <div class="social__ul__li">
      <a
        class="social__ul__li__a"
        href="https://www.facebook.com/profile.php?id=100084114835287"
        target="_blank"
        >Facebook</a
      >
    </div>
    <div class="social__ul__li">
      <a
        class="social__ul__li__a"
        href="https://www.linkedin.com/in/mouelhi-mohamed-fakhreddine-516b60242/"
        target="_blank"
        >Linkedin</a
      >
    </div>
    <div class="social__ul__li">
      <a
        class="social__ul__li__a"
        href="https://github.com/Mangetsu0000"
        target="_blank"
        >Github</a
      >
    </div>
    <div class="social__ul__li">
      <a
        class="social__ul__li__a"
        href="../../assets/resume/Mouelhi_Mohamed_Fakhreddine_CV.pdf"
        target="_blank"
        >Resume</a
      >
    </div>
  </ul>
</section>
