<section class="languages-tools">
  <h2 class="languages-tools__h2">-Programming Languages</h2>
  <ul class="languages">
    <li class="languages__li"><i class="fa-brands fa-html5"></i>HTML5</li>
    <li class="languages__li"><i class="fa-brands fa-css3-alt"></i>CSS3</li>
    <li class="languages__li"><i class="fa-brands fa-js"></i>JavaScript</li>
    <li class="languages__li">
      <img
        class="languages__li__img"
        src="../assets/ts.png"
        alt="TypeScript-logo"
      />TypeScript
    </li>
    <li class="languages__li">
      <img
        class="languages__li__img"
        src="../assets/Python.png"
        alt="Python-logo"
      />Python
    </li>
  </ul>
  <h2 class="languages-tools__h2">-Frameworks</h2>
  <ul class="frameworks">
    <li class="frameworks__li"><i class="fa-brands fa-angular"></i>Angular</li>
    <li class="frameworks__li">
      <img
        src="../assets/nestJs.png"
        alt=""
        class="frameworks__li__img"
      />NestJs
    </li>
  </ul>
  <h2 class="languages-tools__h2">-Database</h2>
  <ul class="database">
    <li class="database__li">
      <img
        class="database__li__img"
        src="../assets/mysql.png"
        alt="mysql-logo"
      />
      MySQL
    </li>
  </ul>
  <h2 class="languages-tools__h2">-Virtualization</h2>
  <ul class="virtualization">
    <li class="virtualization__li">
      <img
        src="../assets/docker.png"
        alt="docker-logo"
        class="virtualization__li__img"
      />Docker
    </li>
  </ul>
  <h2 class="languages-tools__h2">-Version Control</h2>
  <ul class="version-control">
    <li class="version-control__li">
      <i class="fa-brands fa-github"></i>GitHub
    </li>
  </ul>
</section>
